:root {
    --background-color: rgb(20, 20, 20);
    --primary-color: #0d8bdf;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100vh;

    background-color: var(--background-color);
    color: #ddd;

    font-family: sans-serif;
    line-height: 1.4;
}

h1, h2, h3, h4 {
    line-height: 1.2;
    margin: 0.5em 0 0.5em 0;
}

a {
    all: unset;
}

.main {
    width: 100vw;
    height: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.section {
    padding-top: 15vh;
    height: 85vh;
    
    font-size: 1.5rem;

    width: 60%;
    margin: auto;
    text-align: center;
    z-index: 1;
}
