:root {
    --background-color: rgb(20, 20, 20);
}

body {
    margin: 0;
    overflow: hidden;
    height: 100vh;

    background-color: var(--background-color);
    color: #ddd;

    font-family: sans-serif;
    font-size: 25px;
}

#tiles {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);

    opacity: 30%;
}

.tile {
    outline: 1px dashed rgb(185, 185, 185);
}


.tile__alive {
    background-color: rgb(255, 53, 204);
    transition: background-color 0.1s ease-in;
}

.tile__dead {
    background-color: var(--background-color);
    transition: background-color 0.2s;
}

#main {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    width: 60%;
    margin: auto;
    text-align: center;
}