.tiles {
    height: 100vh;
    width: 100vw;

    box-sizing: content-box;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
    outline: 1px dashed rgb(112, 109, 109);
}


.tile__alive {
    background-color: #562b8f;
    transition: background-color 0.1s ease-in;
}

.tile__dead {
    background-color: var(--background-color);
    transition: background-color 0.2s;
}