:root {
  --background-color: rgb(20, 20, 20);
  --primary-color: #0d8bdf;
  --font-color: #ddd;
  color: var(--font-color);
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--background-color);
  font-size: 1.4rem;
  line-height: 1.4;
  font-family: sans-serif;
}

button {
  padding: 0px 30px;
  height: 50px;
  width: 120px;
}

.control-panel {
  position: absolute;
  left: 35%;
  bottom: 0;
}

.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.about {
  position: absolute;
  left: 50%;
  height: 100vh;
  transform: translate(-50%, 0);
  /* max-height: fit-content; */
  overflow: scroll;
  padding: 0px 50px;

  width: max(1000px, 60vw);

  background-color: rgb(25, 25, 25);
  /* box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.09) inset;  */
  /* -webkit-box-shadow: 0px -1px 9px 0px rgba(255, 255, 255, 0.05) inset; */
  /* -moz-box-shadow: 0px -1px 9px 0px rgba(255, 255, 255, 0.61) inset; */
}

.about > p {
  max-width: 55ch;
}
