:root {
    --background-color: rgb(20, 20, 20);
    --primary-color: #0d8bdf;
    --font-color: #ddd;
}

body {
    margin: 0;
    height: 100vh;

    background-color: var(--background-color);
    color: #ddd;

    font-family: sans-serif;
    line-height: 1.4;
}

h1, h2, h3, h4 {
    line-height: 1.2;
    margin: 0.5em 0 0.5em 0;
}

a {
    all: unset;
}

a:hover {
    cursor: pointer;
}


.section {
    padding-top: 15vh;
    height: 85vh;
    
    font-size: 1.5rem;

    width: 60%;
    margin: auto;
    text-align: center;
}

#hide-toggle {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100%;
}