#control-panel {
    display: none;
}


#control-panel button {
    height: 40px;
    width: 60px;
}

#control-panel .header-wrapper {
    justify-content: center;
    gap: 30px;
    align-items: center;
}
