.tiles {
    height: calc(100vh - 60px);
    width: 100vw;
    margin-top: 60px;

    box-sizing: content-box;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    opacity: 30%;


    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;

}

.tile {
    outline: 1px dashed rgb(185, 185, 185);
}


.tile__alive {
    background-color: #4db8ff;
    transition: background-color 0.1s ease-in;
}

.tile__dead {
    background-color: var(--background-color);
    transition: background-color 0.2s;
}